.ticker {
    padding: 1vw;
    white-space: nowrap;
}

.ticker:first-child {
    background-color: #00ff88;
    transform: rotateZ(-2deg);
    scale: 1.1;
}

.ticker:last-child {
    background-color: #1f1f1f;
    transform: rotateZ(2deg);
    scale: 1.1;
}

.ticker-wrap {
    display: flex;
    gap: 20px;
}

.ticker-text {
    color: #000;
    font-size: clamp(40px, 4.375vw, 70px);
    font-weight: 600;
    letter-spacing: -0.02em;
}

.ticker:last-child .ticker-text {
    color: #fff;
}

.accent {
    color: #0000008f;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: 1.1em;
}

.ticker:last-child .accent {
    color: #00ff88;
}