@import "tailwindcss";

:root {
  --background: #FFFBF6;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-display: "Barlow Condensed", sans-serif;
  --color-cute-pink: #FFF9FD;
  --color-sparky-pink: #e8a2c7;
  --color-primary: #D972AA;
  --color-primary-subtle: #FFF1FB;
  --color-secondary: #5366BD;
  --color-secondary-subtle: #E1EFFF;
  --spacing-global: 1rem;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-rotate: rotate 25s linear infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Sora, sans-serif;
}

h2{
  @apply text-2xl font-bold mt-0;
}

header{
  width: 100%;
  position: relative;
  @apply pb-8 md:pb-0 overflow-visible;
}

header:before{
  content: "";
  @apply bg-cute-pink absolute top-0 w-full h-[30%] -z-10;
}
