@import "tailwindcss";

:root {
  --background: #fdeef6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cute-pink: #FFF9FD;
  --color-sparky-pink: #e8a2c7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdeef6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  position: relative;
  @apply pb-8 md:pb-0;
}

header:before{
  content: "";
  @apply bg-cute-pink absolute top-0 w-full h-[30%] -z-10;
}

header:after {
  content: "";
  background-image: url("/bg-divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  @apply h-[60%] md:h-[100%] top-8;
}
