@import "tailwindcss";

.cloud{
    background-image: url('data:image/svg+xml;utf8,<svg width="422" height="233" viewBox="0 0 422 233" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="75.1026" cy="120.785" r="73.3848" transform="rotate(-0.855054 75.1026 120.785)" fill="#FFECF7"/> <circle cx="136.695" cy="77.5921" r="73.3848" transform="rotate(-0.855054 136.695 77.5921)" fill="#FFECF7"/> <circle cx="149.539" cy="151.38" r="73.3848" transform="rotate(-0.855054 149.539 151.38)" fill="#FFECF7"/> <circle cx="235.313" cy="76.1194" r="73.3848" transform="rotate(-0.855054 235.313 76.1194)" fill="#FFECF7"/> <circle cx="250.593" cy="155.743" r="73.3848" transform="rotate(-0.855054 250.593 155.743)" fill="#FFECF7"/> <circle cx="323.907" cy="105.8" r="73.3848" transform="rotate(-0.855054 323.907 105.8)" fill="#FFECF7"/> </svg> ');
}

.underdoodled{
    position: relative;
}

.underdoodled::after{
    position: absolute;
    content: '';
    background-image: url('/img/global/underline_doodle_blue.svg');
    width: 120%;
    transform:translate(-90%,80%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.doodlebadged{
    position: relative;
}

.doodlebadged::after{
    position: absolute;
    content: '';
    background-image: url('/img/global/pigface_doodle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    @apply md:-translate-x-[275%] duration-3000 animate-bounce -rotate-15 -translate-x-[100%] md:scale-100 scale-75 md:translate-y-0 translate-y-[20%];
}

.articleWindow-cloud:before, .articleWindow-cloud:after{
    content: "";
    display: block;
    background-image: url('/img/global/cloud_pattern.svg');
    background-size: contain;
    height: 4rem;
    width: 100%;
}

.articleWindow-cloud:after{
    transform: scaleY(-1);
}

.tablecloth{
    background-color: #FFDAF4;
    opacity: 0.35;
    background-image:  repeating-linear-gradient(45deg, #FFF1FB 25%, transparent 25%, transparent 75%, #FFF1FB 75%, #FFF1FB), repeating-linear-gradient(45deg, #FFF1FB 25%, #FFDAF4 25%, #FFDAF4 75%, #FFF1FB 75%, #FFF1FB);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
}
